@media (max-width: 425px) {
    .center {
        padding-right: 16px;
        padding-left: 16px;
    }

    .img__logo {
        font-size: 18px;
        line-height: 22px;
        width: 99px;
    }

    .nav__link {
        display: none;
    }

    .search {
        display: none;
    }

    .header {
        border: none;
    }

    .menu__mobile {
        display: flex;
        align-items: center;
        gap: 32px;
    }


    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__title {
            font-weight: 600;
            font-size: 48px;
            text-align: center;
        }

        &__title_cat {
            font-size: 48px;
            line-height: 59px;
            text-align: center;
            margin: 0 auto;
        }
    
        &__text {
            font-size: 16px;
            line-height: 32px;
            text-align: center;
        }
    
        &__link {
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            width: auto;
        }

    }



    .for {
        &__item {
            font-size: 28px;
            line-height: 34px;
    
        }
    
        &__content {
            grid-template-columns: repeat(4, 1fr);
        }
    
        &__item_big {
            grid-column: span 4;
        }
    
        &__title {
            font-size: 24px;
            line-height: 29px;
        }
    }



    .special__title {
        font-size: 24px;
        line-height: 29px;
        width: 342px;
    }

    .card {
        &__subtitle {
            font-size: 18px;
            line-height: 22px;
        }
    
        &__price  {
            font-size: 18px;
            line-height: 22px;
        }
    
        &__price__old {
            font-size: 18px;
            line-height: 22px;
        }
        &__img {
            max-width: 342px;
    
        }   
    }


  

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: auto;
        padding-top: 33px;
    }

    .form {
        justify-content: space-around;
    }

    .select {
        font-size: 14px;
        line-height: 17px;
    }

    .cat__link {
        font-size: 14px;
        line-height: 32px;
    }

    .catalog__content {
        grid-template-columns: repeat(4, 1fr);
    }

    .drop {
        &__title {
            font-weight: 600;
            font-size: 48px;
            text-align: center;
            width: 342px;
            line-height: 59px;
        }
        &__head {
            display: none;
        }
        &-box {
            grid-template-columns: repeat(4, 1fr);
            padding-top: 30px;
        }
        &__content {
            grid-column: span 4;
        }
        &__img {
            display: none;
        }
        &-item {
            justify-content: flex-start;
        }
        &__form {
            grid-column: span 4;
            margin-bottom: 48px;
        }
    }

    .info-title {
        font-size: 18px;
        line-height: 22px;
    }

    .info-text {
        font-size: 12px;
        line-height: 15px;
    }

    .info-price {
        font-size: 12px;
        line-height: 15px;
        text-align: left;
    }

    .form-but_1 {
        font-size: 12px;
        line-height: 15px;
        width: 163px;
        border-radius: 50px;
    }

    .form-buttons {
        gap: 10px;
    }

    .form-title {
        font-size: 24px;
        line-height: 36px;
        max-width: 300px;
    }





 


}